<div id={{@id}} class="d-flex justify-content-center">

  <div class="btn-group">

    {{! Previous }}
    <LinkTo
      class="btn btn-outline-dark border-2"
      @disabled={{lte @page 1}}
      @route="jobs"
      @query={{hash page=(add @page -1)}}
    >
      <FaIcon class={{if (lte @page 1) "text-secondary"}} @icon="arrow-left" />
    </LinkTo>

    {{! Count }}
    {{#if @loading}}
      <div class="btn btn-outline-dark border-2">
        <FaIcon @icon="circle-notch" @spin={{true}} />
      </div>

    {{else}}
      <LinkTo
        class="btn btn-outline-dark border-2"
        @disabled={{true}}
        @route="jobs"
      >
        {{@label}}
      </LinkTo>
    {{/if}}

    {{! Next }}
    <LinkTo
      class="btn btn-outline-dark border-2"
      @disabled={{gte @page @pages}}
      @route="jobs"
      @query={{hash page=(add @page 1)}}
    >
      <FaIcon
        class={{if (gte @page @pages) "text-secondary"}}
        @icon="arrow-right"
      />
    </LinkTo>
  </div>

</div>