<nav id="pagination" aria-label="pagination">
  <ul class="pagination">

    {{! Prev }}
    <li class="page-item">
      <LinkTo
        class="page-link"
        @disabled={{lte @page 1}}
        @route="jobs"
        @query={{hash page=(add @page -1)}}
      >
        Previous
      </LinkTo>
    </li>

    {{! # Prev }}
    <li
      class="page-item {{if (not (between (add @page -1) 1 @pages)) 'd-none'}}"
    >
      <LinkTo
        class="page-link"
        @disabled={{lte @page 1}}
        @route="jobs"
        @query={{hash page=(add @page -1)}}
      >
        {{add @page -1}}
      </LinkTo>
    </li>

    {{! # Curr }}
    <li class="page-item">
      <LinkTo class="page-link" @route="jobs" @query={{hash page=@page}}>
        {{@page}}
      </LinkTo>
    </li>

    {{! # Next }}
    <li
      class="page-item {{if (not (between (add @page 1) 1 @pages)) 'd-none'}}"
    >
      <LinkTo
        class="page-link"
        @route="jobs"
        @query={{hash page=(add @page 1)}}
      >
        {{add @page 1}}
      </LinkTo>
    </li>

    {{! Next }}
    <li class="page-item">
      <LinkTo
        class="page-link"
        @disabled={{gte @page @pages}}
        @route="jobs"
        @query={{hash page=(add @page 1)}}
      >
        Next
      </LinkTo>
    </li>

  </ul>
</nav>