<nav id="pagination" aria-label="pagination">
  <ul class="pagination">

    {{! Previous }}
    <li class="page-item {{if (eq @page 1) 'disabled'}}">
      <LinkTo
        class="page-link"
        @disabled={{eq @page 1}}
        @route="jobs"
        @query={{hash page=(add @page -1)}}
      >
        Previous
      </LinkTo>
    </li>

    {{! Prev Page # }}
    <li class="page-item {{if (eq @page 1) 'd-none'}}">
      <LinkTo
        class="page-link"
        @route="jobs"
        @query={{hash page=(add @page -1)}}
      >
        {{add @page -1}}
      </LinkTo>
    </li>

    {{! Curr Page # }}
    <li class="page-item">
      <LinkTo class="page-link" @route="jobs" @query={{hash page=@page}}>
        {{@page}}
      </LinkTo>
    </li>

    {{! Next Page # }}
    <li class="page-item {{if (eq @page @pages) 'd-none'}}">
      <LinkTo
        class="page-link"
        @route="jobs"
        @query={{hash page=(add @page 1)}}
      >
        {{add @page 1}}
      </LinkTo>
    </li>

    {{! Next }}
    <li class="page-item {{if (eq @page @pages) 'disabled'}}">
      <LinkTo
        class="page-link"
        @disabled={{eq @page @pages}}
        @route="jobs"
        @query={{hash page=(add @page 1)}}
      >
        Next
      </LinkTo>
    </li>

  </ul>
</nav>