<div class="dropdown col col-md-3 mt-4 mb-3">
  <BasicDropdown
    @matchTriggerWidth={{true}}
    @verticalPosition="below"
    @onOpen={{this.autoScroll}}
    as |dropdown|
  >

    {{! Trigger }}
    <dropdown.Trigger class="border-bottom border-dark border-3">
      <div class="trigger-label mb-1">
        {{#if this.isEmpty}}
          <FaIcon @icon="circle-notch" @spin={{true}} />
        {{else}}
          <b>{{@label}}</b>
          <FaIcon
            @icon="angle-down"
            @rotation={{if dropdown.isOpen 180 0}}
            class="float-end mt-1"
          />
        {{/if}}
      </div>
    </dropdown.Trigger>

    {{! Content }}
    <dropdown.Content class="border border-top-0 border-dark border-3">
      <ul class="list-group rounded-0">
        {{#each this.uniqueOptions as |option|}}
          <li
            class="list-group-item list-group-item-light border-0"
          >{{option}}</li>
        {{/each}}
      </ul>
    </dropdown.Content>

  </BasicDropdown>
</div>