<div class="dropdown col col-md-3 mt-4 mb-3">
  <BasicDropdown
    @matchTriggerWidth={{true}}
    @verticalPosition="below"
    @onOpen={{this.autoScroll}}
    as |dropdown|
  >

    {{! Trigger }}
    <dropdown.Trigger class="border-bottom border-dark border-3">
      <div class="trigger-label mb-1">
        {{#if @loading}}
          <FaIcon @icon="circle-notch" @spin={{true}} />
        {{else}}
          <b>{{@label}}</b>
          <FaIcon
            @icon="angle-down"
            @rotation={{if dropdown.isOpen 180 0}}
            class="float-end mt-1"
          />
        {{/if}}
      </div>
    </dropdown.Trigger>

    {{! Content }}
    <dropdown.Content class="border border-top-0 border-dark border-3">

      {{! Filter }}
      <div class="p-2">
        <small>
          <input
            type="text"
            class="dropdown-option-filter w-100 p-1"
            placeholder="Search for {{@label}}"
            aria-label="dropdown-option-filter"
          />
        </small>
      </div>

      {{! Options }}
      <ul class="list-group rounded-0">
        {{#each this.uniqueOptions as |option|}}
          <JobFilter::DropdownOption
            @option={{option.value}}
            @options={{this.selectedOptions}}
            @count={{option.count}}
            @onChange={{this.onChange}}
          />
        {{/each}}
      </ul>

      {{! Apply / Clear }}
      <div class="btn-group w-100 sticky-bottom">
        <button
          type="button"
          class="btn rounded-0 w-50 btn-primary"
          {{on "click" this.apply}}
        >Apply</button>
        <button
          type="button"
          class="btn rounded-0 w-50 btn-dark"
          {{on "click" this.clear}}
        >
          Clear
          <small>
            <span
              class="badge rounded-circle bg-transparent text-secondary"
            >({{this.selectedOptions.length}})</span>
          </small>
        </button>
      </div>

    </dropdown.Content>

  </BasicDropdown>
</div>