<div class="job-card">

  <div
    class="card flex-col-1 border-primary shadow-sm
      {{if this.isFlipped 'flipped'}}"
  >
    <div class="ribbon ribbon-{{@job.postingDateCategory}}">
      {{console-log @job}}
      {{@job.postingDateCategory}}
    </div>
    {{! Front of the card }}
    <div class="face front flex-col-1">

      {{! Header }}
      <div class="card-header bg-transparent border-0 overflow-hidden">

        {{! Toolbar }}
        <nav class="navbar justify-content-end" aria-label="nav-front">
          <div class="btn-group">
            <button class="btn btn-light" type="button">
              <FaIcon @prefix="far" @icon="star" class="fa-lg" />
            </button>
            <button
              class="btn btn-light"
              type="button"
              {{on "click" this.flip}}
            >
              <FaIcon @prefix="fas" @icon="ellipsis" class="fa-lg" />
            </button>
          </div>
        </nav>

        {{! Title }}
        <div class="card-title fs-4 fw-bold">
          {{clean @job.businessTitle}}
        </div>

      </div>

      {{! Body }}
      <div class="card-body overflow-hidden">
        <p>
          {{clean @job.agency}}
          <br />
          {{clean @job.workLocation}}
        </p>
        <p>
          {{@job.salaryLabel}}
          <br />
          {{@job.salaryFrequencyLabel}},
          {{@job.fullTimePartTimeLabel}}
        </p>
        <p>
          {{@job.titleClassification}}
          <br />
          {{@job.examLabel}}
        </p>
      </div>

      {{! Footer }}
      <div
        class="card-footer bg-transparent border-0 text-center overflow-hidden"
      >

        {{! Learn More }}
        <a
          class="btn btn-primary rounded-0 w-100 mb-2"
          type="button"
          href="https://cityjobs.nyc.gov/job/{{@job.jobId}}"
          target="_blank"
          rel="noopener noreferrer"
        >
          <span class="float-start">Learn More</span>
          <FaIcon @prefix="fas" @icon="arrow-right" class="float-end mt-1" />
        </a>

        {{! Posting Age }}
        {{@job.postingAgeLabel}}

      </div>

    </div>

    {{! Back of the card }}
    <div class="face back flex-col-1">

      {{! Header }}
      <div class="card-header bg-transparent border-0 overflow-hidden">

        {{! Toolbar }}
        <nav class="navbar justify-content-end" aria-label="nav-back">
          <div class="btn-group">
            <button
              class="btn btn-light"
              type="button"
              {{on "click" this.flip}}
            >
              <FaIcon @prefix="fas" @icon="xmark" class="fa-lg" />
            </button>
          </div>
        </nav>

      </div>

      {{! Body }}
      <div class="card-body overflow-auto">
        <p>
          {{clean @job.jobDescription}}
        </p>
      </div>

    </div>

  </div>
</div>