{{! Input }}
<div class="p-2">
  <small>
    <Input
      @type="text"
      @value={{@inputValue}}
      disabled={{@inputDisabled}}
      placeholder={{@inputPlaceholder}}
      class="dropdown-option-filter w-100 p-1 text-center"
      aria-label="dropdown-option-filter"
    />
  </small>
</div>

{{! Content }}
<ul class="list-group rounded-0">
  {{yield}}
</ul>

{{! Buttons }}
<div class="btn-group w-100 sticky-bottom">
  <button
    type="button"
    class="btn rounded-0 w-50 btn-primary"
    {{on "click" (fn @buttonApplyClicked @dropdownSelection)}}
  >Apply</button>
  <button
    type="button"
    class="btn rounded-0 w-50 btn-dark"
    {{on "click" @buttonClearClicked}}
  >
    Clear
  </button>
</div>