{{page-title "Results"}}

<JobFilter @results={{@model}} />

<div id="job-list">
  {{#each this.jobs as |job|}}
    <Job::Card @job={{job}} />
  {{/each}}
</div>

<Pagination
  @page={{this.page}}
  @pages={{this.pages}}
  @changePage={{this.changePage}}
/>