{{page-title "Results"}}

<JobFilter @results={{@model}}>
  <Pagination
    @id="pagination-section"
    @page={{this.page}}
    @pages={{this.pages}}
    @label={{this.label}}
    @changePage={{this.changePage}}
  />
</JobFilter>

<div id="job-list" class="mb-4">
  {{#each this.jobs as |job|}}
    <Job::Card @job={{job}} />
  {{/each}}
</div>

<Pagination
  @id="pagination-footer"
  @page={{this.page}}
  @pages={{this.pages}}
  @label={{this.label}}
  @changePage={{this.changePage}}
/>