{{page-title "Loading"}}

<JobFilter @loading={{true}} @results={{undefined}} @params={{undefined}}>
  <Pagination
    @id="pagination-section"
    @loading={{true}}
    @page={{undefined}}
    @pages={{undefined}}
    @label={{undefined}}
  />
</JobFilter>

<div id="job-list" class="mb-4">
  {{#each (range 10) as |index|}}
    <Job::CardLoading @index={{index}} />
  {{/each}}
</div>

<Pagination
  @id="pagination-footer"
  @page={{undefined}}
  @pages={{undefined}}
  @label={{undefined}}
/>